:root {
  --dark: #213421;
  --black: #0d2f28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--dark);
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100vh;
}

#menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

button {
  background-color: var(--dark);
  color: white;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-weight: 200;
}

button:hover {
  background-color: var(--black);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.active {
  background-color: var(--black);
  font-weight: 400;
}

#scene-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene {
  background-color: var(--black);
  position: relative;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  overflow: hidden;
  width: 300px;
  height: 500px;
}

#scene div {
  background-color: var(--dark);
  background-color: rgb(43, 56, 44);
  position: relative;
  overflow: hidden;
}

.game-element {
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s;
  user-select: none;
  pointer-events: auto;
  z-index: 10;
}

.game-element:hover {
  transform: translateX(-50%) scale(1.1);
}

.game-element svg {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  stroke: currentColor;
}

.ball {
  width: 36px;
  height: 36px;
}

.goalkeeper {
  width: 48px;
  height: 48px;
}

#right-panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--black);
}

h3 {
  color: white;
}
